@layer utilities {

    .login-form-container {
        @apply
        min-h-screen
        grid grid-cols-4 grid-rows-3 max-sm:items-center
        items-center;
    }
    .login-form {
        @apply
        lg:col-start-2
        lg:col-span-2
        md:col-start-1
        md:col-span-4
        row-start-2
        row-span-1
        col-start-1
        col-span-4
        p-10
        grid
        grid-cols-1
        grid-rows-4
        items-center
        border-6
        border-theme-yellow
        rounded-lg;
    }
    .email {
        @apply my-3 border-2 min-h-10 border-theme-yellow rounded-xl flex flex-row items-center justify-center;
    }
    .email-icon {
        @apply max-w-fit mx-2 max-sm:hidden;
    }
    .password {
        @apply border-2 min-h-10 border-theme-yellow rounded-xl flex flex-row items-center justify-center;
    }
    .password-icon {
        @apply max-w-fit mx-2 max-sm:hidden;
    }
    .submit-button {
        @apply border-2 min-h-10 min-w-fit bg-theme-yellow border-theme-yellow rounded-xl text-center place-content-center;
    }
    .email-input {
        @apply
        min-h-10
        pl-1.5
        sm:rounded-l-none
        sm:border-l-2
        border-theme-yellow
        focus:rounded-xl
        sm:focus:rounded-l-none
        focus:cursor-text
        w-full;
    }
    .password-input {
        @apply
        min-h-10
        pl-1.5
        sm:rounded-l-none
        sm:border-l-2
        border-theme-yellow
        focus:rounded-xl
        sm:focus:rounded-l-none
        focus:cursor-text
        w-full;
    }
    .email-input::placeholder {
        @apply max-sm:text-center text-start overflow-hidden italic;
    }
    .password-input::placeholder {
        @apply max-sm:text-center text-start overflow-hidden italic;
    }
    .reglog {
        @apply min-w-full grid grid-cols-1 items-center justify-center;
    }
    .pass-reset-links {
        @apply grid grid-cols-1 grid-rows-2 items-center justify-center;
    }
    .signup-link {
        @apply text-center text-blue-600 hover:underline;
    }
    .pass-reset-link {
        @apply text-center text-blue-600 hover:underline;
    }
    .submit-button:hover {
        @apply cursor-pointer;
    }
}